{% extends "entries/base.html" %}
{% block content %}  

<!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Posts
          <small>JQJ</small>
        </h1>
        {% for entries in blog_entries %}
        <!-- Blog Post -->
        <div class="card mb-4">
<!---->  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> 
          <div class="card-body">
            <h2 class="card-title">{{ entries.entry_title }}</h2>
            <p class="card-text">{{ entries.entry_text|truncatechars:100 }}</p>
            <a href="{% url 'entry-detail' entries.pk %}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ entries.entry_date }} by
            <a href="#">{{ entries.entry_author }}</a>
          </div>
        </div>
        {% endfor %}
        <!-- Pagination -->

        <ul class="pagination justify-content-center mb-4">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Older</a>
          </li>
          {% endif %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number  }}">Newer &rarr;</a>
          </li>
          {% endif %}
        </ul>

      </div>
{% endblock %}